.header-day {
    width: 340px;
    height: 117px;
    background: $colorButton;
    margin: 0 auto;
    @include border-radius(30px);
    @media screen and (max-width: $break-small){
        width: 100%;
    }
    .material-day{
        display: inline-block;
        float: left;
        height: 100%;
        padding-top: 40px;
        padding-left: 18px;
        i{
            font-size: 36px;
            cursor: pointer;
        }
    }
    .text-day{
        display: inline-block;
        margin-top: 24px;
        h2{
            @extend %head-day; 
        }
        span{
            @extend %span-day; 
        }
    }
}

.day-data {
    width: 340px;
    height: 555px;
    background-color: $colorWhite; 
    margin: 0 auto;
    padding: 40px 0 30px 0;
    @include border-radius(21px); 
    @media screen and (max-width: $break-small){
        width: 100%;
    }
    .circle{
        width: 231px;
        height: 231px;
        border: 7px solid $colorCircle;
        margin: 0 auto;
        margin-bottom: 25px;
        @include border-radius(50%); 
          @media screen and (max-width: $break-small){
       width: 190px;
        height: 190px;
    }
        .icon-circle{
            margin: 0 auto;
            width: 39px;
            margin-top: 33px;
            i{
                width: 37px;
                height: 37px;
                padding: 6px;
                background-color: $iconColor;
                vertical-align: text-bottom;
                @include border-radius(50%);
            }
        }
    }
}

.steps-data p {
    @extend %circle-p;
}
.steps-data span {
    @extend %circle-span;
}

.bottom-row {
    width: 340px;
    height: 150px;
    margin: 10px auto;
    margin-top:80px;
    @media screen and (max-width: $break-small){
        width: 100%;
    }
    .bottom-data{
        display: inline-block;
        float: left;
        width: 33%;
        @include even(){
            border-right: 1px solid $lettersGray;
            border-left: 1px solid $lettersGray;
        }
        span{
            color: $lettersGray;
            display: block;
            text-align: center;
            @include last-child {
                font-size: 34px;
                color: $colorCircle;
                text-align: center;
                font-family: $appFontBold;
                @media screen and (max-width: $break-small){
                    font-size:24px;
                }
            }
        }
    }
}
