$baseColorLight: #34C7A0;
$baseColorDark: #008AA2;
$colorButton: #5ecab2;
$colorCircle: #1fb19b;
$lettersBlack: #151C1F;
$lettersGray: #B3B3B3;
$lettersGrayWeek: #898694;
$iconColor: #baece5;
$iconColorWeek: #7fd5c4;
$colorWhite: #FFFFFF; 

$appFontBold: 'HelveticaNeue-Bold';
$appFontMedium: 'HelveticaNeue-Medium';

$break-small: 400px;